<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitUseExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFD7A50B1D8AA61B00453B0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFD7A51F1D8AA61E00453B0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFD7A52A1D8AA61E00453B0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
